* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #272e35;
}

.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 100px 10px 40px 10px;
    max-width: 500px;

    text-align: center;

    background-color: #F2D091;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.main__header {
    text-transform: uppercase;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

.interface {
    margin-top: 100px;
}

.interface__text {
    text-transform: uppercase;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.temp-out {
    height: 38px;
    padding-top: 40px;

    color: green;
    font-size: 32px;
    font-weight: bold;
}

.alerting {
    height: 38px;
    padding-top: 20px;

    color: red;
    font-weight: bolder;
}

.interface__genInput {
    padding: 4px 0 4px 0;
    max-width: 300px;
    margin-top: 80px;

    border-style: none;
    border-radius: 4px;

    font-size: 35px;
    text-align: center;
}

.main--button-style {
    padding: 10px 5px 10px 5px;
    min-width: 150px;

    border-radius: 4px;
    border-style: none;
    border-color: none;
    outline: none;
    background: #F24822;
    text-transform: uppercase;
}

.main--button-style:hover {
    box-shadow: 0 0 4px grey;
}

.main--button-style:nth-child(1):disabled{
    background-color: grey;
}

.interface__generate {
    min-width: 300px;
    margin-top: 5px;

    font-size: 25px;
}

.popup-window {
    display: none;
    position: fixed;
    top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	z-index: 100;
    overflow: auto;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 15px;

    background-color: #fefefe;

    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.popup-header {
    display: flex;
}

.popup-header__desc {
    margin: 20px 0 0 25px;
    text-transform: uppercase;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.popup-header__close-button {
    position: relative;
    left: 55px; bottom: 20px;
    color: rgb(255, 255, 255);

    font-size: 48px;
    font-weight: bold;
}

.popup-header__close-button:hover,
.popup-header__close-button:focus {
    color: blaCK;
    text-decoration: none;
    cursor: pointer;
}

.popup-alert {
    min-height: 14px;

    text-transform: uppercase;
    color: red;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.popup-inputs__decoration {
    max-width: 150px;

    font-size: 35px;
}

.content--focus-outline:focus {
    outline: 1px solid grey;
}

.popup-inputs__decoration:nth-child(1) {
    border-color: green;
}
.popup-inputs__decoration:nth-child(2) {
    border-color: red;
}

.attemps-input {
    display: none;
    max-width: 303px;
}

.popup-buttons {
    padding: 10px 0 15px 0;
}

.extra-buttons {
    margin-top: 295px;
}
